{% extends 'base.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card card-custom">
        <div class="card-body p-4">
          <h4 class="mb-3">Set a new password</h4>
          <form method="post">
            {% csrf_token %}
            {{ form.new_password1|as_crispy_field }}
            {{ form.new_password2|as_crispy_field }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Set Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
